<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout="row">

        <h2 flex md-truncate>$ ad-extreme</h2>


        <md-button ng-click="logout()">
            <md-icon><i class="material-icons">exit_to_app</i></md-icon>
            Logout
        </md-button>
    </div>
</md-toolbar>

<md-content id="cadastro">
    <form name="cadastroAnuncioForm" layout="column">
        <md-content class="md-no-momentum" id="cadastro-form">

            <h2 class="text-center" layout="row" layout-align="space-around center">Cadastrar anúncio</h2>

            <md-input-container class="md-block" layout="row">
                <md-icon><i class="material-icons">title</i></md-icon>
                <input ng-model="inputData.title" type="text" placeholder="Título" ng-required="true">
            </md-input-container>

            <md-input-container class="md-block" layout="row">
                <md-icon><i class="material-icons">attach_money</i></md-icon>
                <input ng-model="inputData.price" type="number" placeholder="Preço" ng-required="true">
            </md-input-container>

            <fieldset class="standard" layout="row" layout-align="space-around center">
                <legend>Escolha um tipo</legend>

                <md-checkbox ng-model="inputData.type['MOVEL']" ng-disabled="isDisabled('MOVEL')">
                    Móvel
                </md-checkbox>

                <md-checkbox ng-model="inputData.type['IMOVEL']" ng-disabled="isDisabled('IMOVEL')">
                    Imóvel
                </md-checkbox>

                <md-checkbox ng-model="inputData.type['EMPREGO']" ng-disabled="isDisabled('EMPREGO')">
                    Emprego
                </md-checkbox>

            </fieldset>

            <div layout="row" layout-align="space-around center">
                <md-button role="submit" class="md-raised md-primary" ng-click="cadastrar()"
                           ng-disabled="checkType() || cadastroAnuncioForm.$invalid">Cadastrar
                </md-button>
                <md-button class="md-raised md-warn md-hue-2" ng-click="clearInput()">Limpar</md-button>
            </div>
        </md-content>
    </form>
</md-content>