<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button button-menu" aria-label="Menu" ng-click="menu.changeSidenav()" >
            <md-icon><i class="material-icons">arrow_back</i></md-icon>
          </md-button>
      <h1>Menu</h1>
    </div>
  </md-toolbar>

  <md-content>
      <section id="info-usuario">
        <div class="nome-usuario" md-colors="{color:'primary'}">Caio Vidal <span>(caiovidaln@gmail.com)</span></div>
        <div class="saldo-usuario">Saldo: <span class="saldo-conta">R$ 30,00</span></div>
        <div class="anuncios-usuario">0 anúncios ativos</div>
        

      </section>
      <md-list>
        <md-divider inset></md-divider>
        <md-list-item class="md-3-line md-icon-float"" ng-repeat="item in menuList" ng-click="menu.changeState(item.state)" ng-show="item.state != menu.currentState()">
          <md-icon md-colors="{background:'primary'}" class="md-primary md-avatar-icon icon-menu-sidebar"><i class="material-icons">{{ item.icon }}</i></md-icon>
          <h3 class="md-primary" flex>{{item.titulo}}</h3>
          <md-divider inset></md-divider>
        </md-list-item>
        <md-divider inset></md-divider>
      </md-list>
  </md-content>

</md-sidenav>